<div class="container">
  <footer class="footer">
    <p class='foot-left btn btn-link'><%= link_to 'Contact', pages_contact_path %></p>
    <small>
      Copyright &copy; BookBuy PTY LTD 2017
    </small>
    <p class='foot-right btn btn-link'><%= link_to 'About', pages_about_path %></p>
  </footer>
</div>
